# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: badges
on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Build
        run: go build -v ./...
  badges:
    runs-on: ubuntu-latest
    steps:
      env:
        COVERALL_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Coveralls
        run: |
              go get golang.org/x/tools/cmd/cover
              go get github.com/mattn/goveralls
              go install github.com/mattn/goveralls
              go test -v -covermode=count -coverprofile=coverage.out
              goveralls -coverprofile=coverage.out -service=github -repotoken "$COVERALL_TOKEN"
      
      - name: Go Report Card
        uses: creekorful/goreportcard-action@v1.0
